:root{
    --secondary-color: #1560BD;
    --text-color: #000;
    --border: 15px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, "Arial Narrow";
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1e1f26;
    text-align: center;
}

#menu-inicial a, #menu-info a{

    font-weight: bold;
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
}

#menu-inicial{
    padding-top: 20px;
    display: flex;
    gap: 100px;
    justify-content: center;

}

#menu-info{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

h1, h2, h3, p{
    text-align: center;
}

h1{
    text-shadow: 0px 0px 50px rgba(255,255,255,.9),
    0px 0px 50px rgba(255,255,255,.9);
}

a{
    text-decoration: none;
    transition: 1s;
    color: var(--secondary-color);
}

#menu-inicial a:hover, #menu-info a:hover{
    transition: 1s;
    font-size: 18px;
    box-shadow: 0px 0px 20px rgba(65, 105, 225, 1),
    0px 0px 20px rgba(65, 105, 225, 1),
    0px 0px 20px rgba(65, 105, 225, 1);
}

#proyectos a:hover, #contacto a:hover{
    transition: 1s;
    font-size: 18px;
    text-shadow: 0px 0px 20px rgba(65, 105, 225, 1),
    0px 0px 20px rgba(65, 105, 225, 1),
    0px 0px 20px rgba(65, 105, 225, 1);
}


#formacion{
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;

    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);

    border-radius: 20px;

    padding: 20px;

    margin: 20px
}


#sobre-mi, #habilidades, #proyectos, #contacto{
    background-color: #fff;
    color: black;
    border: 2px solid #ddd;
    overflow: auto;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, .5);

    border-radius: 20px;

    padding: 20px;

    margin: 20px
}




.destacado{
    background-color: #1e1f26;
    color: #fff;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.tabla-bonita{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-bonita th, .tabla-bonita td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabla-bonita th{
    background-color: #0056b3;
    color: #FFF
}


.lista-backend, .lista-frontend{
    border-radius: 10px;
    color: #fff;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1e1f26;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

p.tipos-habilidades{
    margin-right: 30px;
}

.lista-backend{
    float: left;
    margin-left: 50px;
}

.lista-frontend{
    float: right;
    margin-right: 50px;
}

ul li{
    margin-left: 50px;
}

img{
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}

#formacion ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


/*
    Pseudoclases son las interacciones que hacemos
    :hover - cuando pasamos el mouse sobre el elemento
    :active - mientras mantenemos el click presionado
    :focus - click o tab
    :visited - un link que ha sido visitado
    :checked - cuando esta activado o seleccionado
    :diabled - cuando el elemento no esta disponible


    :first-child
    :last-child
    :-nth-child(n)

    Pseudo-elementos
    ::before - inyecta contenido antes del elemento
    ::after - inyecta contenido antes del elemento

*/

